.table-img > img {
    height: 60px;
    width: 60px;
}

tr.table-row:hover{
    cursor: pointer;
}

.selected {
    /*background-color: #c0e1e8;*/
    background-color: #dbdbdb;
}

tr.selected:hover{
    /*background-color: #a7d5df!important;*/
    background-color: #cacaca!important;
}

tr.visit:hover{
    background-color: #ececec;
    /*background-color: #d9edf1;*/
}

tr.visit-empty:hover{
    background-color: #ececec!important;
    /*background-color: #d9edf1!important;*/
}

.datepicker div table tbody tr td span {
    color: #333!important;
}

.modal-patient-input {
    margin-bottom: 15px;
    padding: 0px 0px 0px 0px!important;
}

.modal-my-plugin {
    margin-top: 35px;
}

.createNewPatientCheckbox{
    margin: 0px!important;
    float: right!important;
}

.dropdown-menu > li.selected > a:hover{
    color: black!important;
}

.visits-table-search-results{
    margin-bottom: 10px;
}

/*MD devices
@media (max-width: 992px){
    .modal-patient-input {
        margin-right: 15px;
    }
}
*/

@media (min-width: 600px){
    .modal-patient-input {
        margin-right: 15px;
    }
}

/*@media (max-width: 600px){
    .modal-my-plugin {
        margin-top: 35px;
    }
}*/
