body {
    min-width: 650px;
}

.visits-table{
    padding-top: 15px;
}

.visits-table-header{
    height: 50px;
    display: inline-block;
    float: none;
    padding-right: 0px!important;
    padding-left: 0px!important;
    overflow: hidden;
    text-align: center!important;
}

.visits-table-header-empty{
    height: 50px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.visits-table-header-week{
    padding-right: 0px!important;
    padding-left: 0px!important;
    text-align: left!important;
}

.visits-table-body{
    margin-top: 50px;
}
.visits-table-row{
    width: 100%;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.visits-table-column-hours{
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.visits-table-column{
    display: inline-block;
    float: none;
    padding-right: 0px!important;
    padding-left: 0px!important;
    overflow: hidden;
}

.visits-table-column-width{
    width: 13%;
}

.visits-table-unit{
    max-height: 19px !important;
    overflow-y: hidden;
}

.visit-number-today{
    background-color: #d95459;
    color: white;
    border-radius: 17px;
    width: 22.85px;
    height: 22.85px;
}

.visits-table-scrollable-vertical{
    overflow-y: auto!important;
    overflow-x: hidden;
    max-height: 497px;

    padding-left: 0px!important;
    padding-right: 0px!important;
}

.visits-table-scrollable-horitzontal{
    overflow-x: scroll!important;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
    float:none;
}

.visits-table-scrollable-header{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.visits-table-scrollable-hours{
    overflow-y: auto!important;
    overflow-x: hidden;
    max-height: 497px;
    width: 113%;
}

.hide-h-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 50px;
}

.hide-v-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

.visits-table-scrollable > .visits-table-column{
    display: inline-block;
    float: none; /* Very important */
}

/*.visit-day-row,*/
.visit-day-row-hover,
.visit-hour-row {
    background-color: #d9534f!important;
    /*border-color: #d43f3a!important;*/
    color: rgb(255, 255, 255);
    border-radius: 6px;
}

.visit-hour-row > .table-text {
    color: rgb(255, 255, 255);
}

.visit-hour-row-table-text-hover,
.visit-hour-row :hover {
    background-color: #cd2d33!important;
    /*border-color: #ac2925!important;*/
    color: rgb(255, 255, 255)!important;
}

.visit-hour-row-hover,
.visit-hour-row > td :hover {
    background-color: #c9302c!important;
    color: rgb(255, 255, 255)!important;
}

.check_all_container{
    margin-right: 10px;
}

/* on sm/xs */
.visits-table{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
