.patient-name{
    background-color: rgb(217, 83, 79);
    color: white;
    padding: 5px 0px 5px 0px;
    border-radius: 4px;
}

.patient-name > .patient-title{
    margin-left: 10px;
}

.patient-name > .patient-visits-number{
    margin-right: 10px;
}

.patient-name > .patient-title > h3 > i{
    margin-right: 5px;
}

.patient-name > .patient-title > h3 > a{
    color: white;
}
