<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{{ 'pdf.medical_justification_title'|trans({}, 'visits') }}</title>

        <!-- Bootstrap Files -->
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/visits_justification_pdf.css', 'visits')) }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <br/>
                        <img src="{{ absolute_url(asset('assets/data/img/appIcon_128.png')) }}" />
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <br/>
                        <h2>Marian Fargas</h2>
                        <p>
                            Barriada del Celler, casa Felix, SN <br/>
                            Manresa, Barcelona <br/>
                            <br/>
                            93 872 45 99 / 629 47 63 56
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justification">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3>{{ 'pdf.medical_justification_title2'|trans({}, 'visits') }}</h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    {# <p><b>{{ 'pdf.medical_justification_date'|trans({}, 'visits') }}</b> {{ visit.visitDate|localizeddate('full', 'none',  app.request.locale)|capitalize }} <b>{{ 'pdf.medical_justification_hour'|trans({}, 'visits') }}</b> {{ visit.visitDate|date('H:i') }}</p>
                    <p><b>{{ 'pdf.medical_justification_massagist'|trans({}, 'visits') }}:</b> Marian Fargas</p> #}
                    <p class="footer">
                        {{ 'pdf.medical_justification_message'|trans({'%pacient%': patient.name ~ ' ' ~ patient.surname, '%data%': visit.visitDate|localizeddate('full', 'none',  app.request.locale)|capitalize, '%hora%': visit.visitDate|date('H:i')}, 'visits') }}
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br/>
                    <b>{{ "now"|localizeddate('full', 'none',  app.request.locale)|capitalize }}</b>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin">
                    <br/>
                    {{ 'pdf.medical_justification_center_signature'|trans({}, 'visits') }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin">
                    <br/>
                    {{ 'pdf.medical_justification_patient_signature'|trans({}, 'visits') }}
                </div>
            </div>
        </div>
    </body>
