{% extends 'base.html.twig' %}

{% block menu_javascripts %}
    <!-- Mainly scripts -->
    <script src="{{ asset('assets/vendor/minimal_admin_panel/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('assets/vendor/minimal_admin_panel/js/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('assets/vendor/minimal_admin_panel/js/custom.js') }}"></script>
    <script src="{{ asset('assets/vendor/minimal_admin_panel/js/screenfull.js') }}"></script>
    <script>
    $(function () {
        $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
            if (!screenfull.enabled) {
                return false;
            }
            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
{% endblock %}

{% block menu_stylesheets %}
    <link href="{{ asset('assets/vendor/minimal_admin_panel/css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="wrapper">
        <!----->
        <nav class="navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1> <a class="navbar-brand" href="{{ url('homepage') }}">{{ 'base.global_title'|trans({}, 'base') }}</a></h1>
            </div>
            <div class=" border-bottom">
            <div class="full-left">
                {#<section class="full-top">
                    <button class="hidden-xs" id="toggle"><i class="fa fa-arrows-alt"></i></button>
                </section>#}
                {% if has_search is defined %}
                    <form class=" navbar-left-right btn-group" action="{{ search_url }}">
                        <input name="search" type="text" placeholder="{{ 'base.global_search'|trans({}, 'base') }}..." {% if search_previous is defined and search_previous is not null %}value="{{ search_previous }}"{% endif %}>
                        <input type="submit" value="" class="fa fa-search">
                    </form>
                {% endif %}
                <div class="clearfix"> </div>
            </div>

            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="drop-men my-padding-user" >
                <ul class=" nav_1">
                    <!--
                    <li class="dropdown at-drop">
                        <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i class="fa fa-globe"></i> <span class="number">5</span></a>
                        <ul class="dropdown-menu menu1 my-dropdown-notifications-right" role="menu">
                            <li><a href="#">
                                <div class="user-new">
                                    <p>New user registered</p>
                                    <span>40 seconds ago</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a></li>
                            <li><a href="#">
                                <div class="user-new">
                                <p>Someone special liked this</p>
                                <span>3 minutes ago</span>
                                </div>
                                <div class="user-new-left">

                                <i class="fa fa-heart"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a></li>
                            <li><a href="#">
                                <div class="user-new">
                                <p>John cancelled the event</p>
                                <span>4 hours ago</span>
                                </div>
                                <div class="user-new-left">

                                <i class="fa fa-times"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a></li>
                            <li><a href="#">
                                <div class="user-new">
                                    <p>The server is status is stable</p>
                                    <span>yesterday at 08:30am</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-info"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a></li>
                            <li><a href="#">
                                <div class="user-new">
                                    <p>New comments waiting approval</p>
                                    <span>Last Week</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-rss"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a></li>
                            <li><a href="#" class="view">View all messages</a></li>
                        </ul>
                    </li>
                    -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
                            <span class=" name-caret">
                                {{ app.user.username }}
                                <i class="caret"></i>
                            </span>
{#                            <img src="{{ asset('assets/data/uploads/profile/testuser_small.png') }}">#}
                        </a>
                        <ul class="dropdown-menu my-dropdown-right" role="menu">
                            <li><a href="{{ url('fos_user_profile_show') }}"><i class="glyphicon glyphicon-home"></i>{{ 'base.global_section_profile'|trans({}, 'base') }}</a></li>
                            <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i>{{ 'base.global_logout'|trans({}, 'base') }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="clearfix"></div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{{ url('homepage') }}" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">{{ 'base.global_section_dashboard'|trans({}, 'base') }}</span> </a>
                        </li>
                        {#<li>
                            <a href="{{ url('calendar-month') }}" class=" hvr-bounce-to-right"><i class="fa fa-calendar nav_icon "></i><span class="nav-label">{{ 'base.global_section_calendar'|trans({}, 'base') }}</span></a>
                        </li>#}
                        <li>
                            <a class=" hvr-bounce-to-right"><i class="fa fa-calendar nav_icon "></i><span class="nav-label">{{ 'base.global_section_visits'|trans({}, 'base') }}</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{{ url('visits-list') }}" class=" hvr-bounce-to-right"><i class="fa fa-angle-right nav_icon"></i>{{ 'base.global_section_visits_day'|trans({}, 'base') }}</a></li>
                                <li><a href="{{ url('visits-week-list') }}" class=" hvr-bounce-to-right{# hidden-xs hidden-md#}"><i class="fa fa-angle-right nav_icon "></i>{{ 'base.global_section_visits_week'|trans({}, 'base') }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <li><a href="{{ url('patients-list') }}" class=" hvr-bounce-to-right"><i class="fa fa-users nav_icon "></i><span class="nav-label">{{ 'base.global_section_patients'|trans({}, 'base') }}</span></a></li>
                        </li>

                        {#<li><a href="{{ url('allergies-list') }}" class=" hvr-bounce-to-right"><i class="fa fa-heartbeat nav_icon"></i>{{ 'base.global_section_allergies'|trans({}, 'base') }}</a></li>#}
                        {#<li><a href="#" class=" hvr-bounce-to-right"><i class="fa fa-stethoscope nav_icon"></i>Diseases</a></li>#}
                        {#<li><a href="{{ url('operations-list') }}" class=" hvr-bounce-to-right"><i class="fa fa-ambulance nav_icon"></i>{{ 'base.global_section_operations'|trans({}, 'base') }}</a></li>#}

                        {# Accounting section
                        <li>
                            <a href="#" class=" hvr-bounce-to-right"><i class="glyphicon glyphicon-piggy-bank nav_icon"></i> <span class="nav-label">Accounting</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="#" class=" hvr-bounce-to-right"><i class="glyphicon glyphicon-list-alt nav_icon"></i>Invoices</a></li>
                                <li><a href="#" class=" hvr-bounce-to-right"><i class="glyphicon glyphicon-flag nav_icon"></i>Fees</a></li>
                                <li><a href="#" class=" hvr-bounce-to-right"><i class="fa fa-th nav_icon"></i>Stock</a></li>
                            </ul>
                        </li>
                        #}

                        {# Settings Section #}
                        <li><a href="{{ url('settings-list') }}" class=" hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span class="nav-label">{{ 'base.global_section_settings'|trans({}, 'base') }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main container-fluid">
                {% include 'common/banner.html.twig' %}
                {% include 'common/error.html.twig' %}

                <div class="blank">
                    {% block content_main %}{% endblock %}
                </div>
                <div class="copy">
                    <p> &copy; 2016 HealthManager {{ version }}. All Rights Reserved </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="scroll-top-wrapper ">
{#            <button class="btn btn-danger" id="scroll_to_top" data-spy="affix"><span class="glyphicon glyphicon-arrow-up"></span></button>#}
            <button class="my-rounded-button btn btn-default">
                <i class="fa fa-2x fa-angle-up"></i>
            </button>
        </div>
    </div>
{% endblock %}
