<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% block title %}{{ 'base.global_title'|trans({}, 'base') }}{% endblock %}</title>

        <script type="application/x-javascript">
            addEventListener("load", function(){
                setTimeout(hideURLbar, 0);
            }, false);
            function hideURLbar(){
                window.scrollTo(0,1);
            }
        </script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Jquery Files -->
        <script src="{{ asset('assets/vendor/minimal_admin_panel/js/jquery.min.js') }}"></script>

        <!-- Moment Files, necessary for bootstrap-datetimepicker -->
        <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/moment/min/locales.min.js') }}"></script>
{#        <script src="{{ asset('assets/vendor/bootstrap/js/transition.js') }}"></script>#}
{#        <script src="{{ asset('assets/vendor/bootstrap/js/collapse.js') }}"></script>#}

        <!-- Bootstrap Files -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- bootstrap-datetimepicker -->
        {# DOCS - http://eonasdan.github.io/bootstrap-datetimepicker/ #}
        <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">

        <!-- bootstrap-selector -->
        {# DOCS - https://silviomoreto.github.io/bootstrap-select/ #}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}">
        <script src="{{ asset('assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-select/dist/js/i18n/defaults-*.min.js') }}"></script>

        <!-- Sweet Alert files -->
        <script src="{{ asset('assets/vendor/es6-promise/es6-promise.auto.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/sweetalert2/dist/sweetalert2.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert2/dist/sweetalert2.min.css') }}">

        <!-- Custom Theme files -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/minimal_admin_panel/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/minimal_admin_panel/css/font-awesome.css') }}">

        <!-- Base css and js -->
        <link rel="stylesheet" href="{{ asset('css/base.css', 'base') }}">
        <script src="{{ asset('js/base.js', 'base') }}"></script>

        <!-- Translator js -->
        <script src="{{ asset('js/translator.js', 'base') }}"></script>

        {% block menu_javascripts %}{% endblock %}
        {% block menu_stylesheets %}{% endblock %}

        {% block stylesheets %}{% endblock %}
        {% block stylesheets_toolbar %}
            <style>
                @media (min-width: 768px) {
                    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }

                    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
                }
            </style>
        {% endblock %}
    </head>
    <body lang="{{ app.request.locale }}">
        <div onclick="void(0);">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <!--scrolling js-->
        <script src="{{ asset('assets/vendor/minimal_admin_panel/js/jquery.nicescroll.js') }}"></script>
        <script src="{{ asset('assets/vendor/minimal_admin_panel/js/scripts.js') }}"></script>
        <!--//scrolling js-->
    </body>
</html>
