{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <form id="form_edit_patient" enctype="multipart/form-data" url="{{ url('patients-save-edit') }}" type="post" method="POST">
            <div class="typo-1">
                <div class="grid_3 grid_4">
                    <div class="mail-toolbar">
                        <div class="float-right">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-success">{{ 'base.section_edit_button'|trans({}, 'base') }}</button>
                            </div>
                            <div class="btn-group">
                                <a href="{{ url('patients-show', {'patient_id': patient_data.patient.id}) }}" type="button" class="btn btn-default">{{ 'base.section_cancel_button'|trans({}, 'base') }}</a>
                            </div>
                        </div>
                        <div class="float-left">
                            <h2>{{ 'patients.section_patient_edit_form'|trans({}, 'patients') }}</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {% include 'patients/form_patients.html.twig' %}
            </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/edit_patients.css', 'patients') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/edit_patients.js', 'patients') }}"></script>
{% endblock %}
