{% block form_patients %}

    {% if patient_data is defined %}
        {% set id_patient = patient_data.patient.id %}
        {% set name_patient = patient_data.patient.name %}
        {% set surname_patient = patient_data.patient.surname %}
        {% set photo_patient = patient_data.patient.photo %}
        {% set photo_file_name = patient_data.patient.photoFileName %}
        {% set job_patient = patient_data.patient.job %}
        {% set age_patient = patient_data.patient.age %}
        {% set birthday_patient = patient_data.patient.birthday %}
        {% set telephones_patient = patient_data.telephones %}
        {% set emails_patient = patient_data.emails %}
        {% set addresses_patient = patient_data.addresses %}
        {% set notes_patient = patient_data.patient.notes %}
        {% set allergies_patient = patient_data.allergies %}
        {% set operations_patient = patient_data.operations %}
    {% else %}
        {% set id_patient = "" %}
        {% set name_patient = "" %}
        {% set surname_patient = "" %}
        {% set photo_patient = "" %}
        {% set job_patient = "" %}
        {% set age_patient = "" %}
        {% set birthday_patient = "" %}
        {% set telephones_patient = "" %}
        {% set emails_patient = "" %}
        {% set addresses_patient = "" %}
        {% set notes_patient = "" %}
        {% set allergies_patient = "" %}
        {% set operations_patient = "" %}
    {% endif %}

    {% if id_patient is not empty %}
        <input type="text" id="id_input" name="id" value="{{ id_patient }}" hidden>
    {% endif %}
    <div class="grid_3 grid_4">
        <div class="profile-bottom-top">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        <label for="name_input">{{ 'patients.section_input_name'|trans({}, 'patients') }}</label>
                        <input type="text" class="form-control" id="name_input" name="name" value="{{ name_patient }}" required>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        <label for="surname_input">{{ 'patients.section_input_surname'|trans({}, 'patients') }}</label>
                        <input type="text" class="form-control" id="surname_input" name="surname" value="{{ surname_patient }}" required>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 profile-bottom-img text-center">
                <div class="thumbnail">
                    {% if photo_patient %}
                        {% set photoUrl = profile_img_path ~ photo_file_name %}
                    {% else %}
                        {% set photoUrl = 'assets/data/img/avatar.jpg' %}
                    {% endif %}
                    <img id="profile-picture" class="portrait" src="{{ asset(photoUrl) }}" alt="" />
                </div>
                <label id="edit-profile-picture" for="photo" class="btn btn-primary btn-block"> {{ 'patients.section_change_photo'|trans({}, 'patients') }} </label>
                <small>max. 5 MB</small>
                <input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
                <input id="photo" name="photo" type="file" accept="image/*"/>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-text">
                <h3>{{ 'patients.section_basic_information'|trans({}, 'patients') }}</h3>
                <br />
                <div class="form-group">
                    <label for="job_input">{{ 'patients.section_input_job'|trans({}, 'patients') }}</label>
                    <input type="text" class="form-control" id="job_input" name="job" value="{{ job_patient }}">
                </div>
                <div class="form-group">
                    <label for="age_input">{{ 'patients.section_input_age'|trans({}, 'patients') }}</label>
                    <input type="text" class="form-control" id="age_input" name="age" {% if age_patient is not empty and age_patient > 0 %} value="{{ age_patient }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label for="birthday_input">{{ 'patients.section_input_birthday'|trans({}, 'patients') }}</label>
{#                        <input type="datetime" class="form-control" id="birthday_input" name="birthday">#}
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="birthday" {% if birthday_patient is not empty %} value="{{ birthday_patient|date("Y/m/d", "Europe/Madrid") }}" {% endif %} readonly/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="grid_3 grid_4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-text">
            <h3>{{ 'patients.section_contact'|trans({}, 'patients') }}</h3>
            <br />
            <div class="form-group">
                <label>{{ 'patients.section_input_phone'|trans({}, 'patients') }}</label>
                {% if telephones_patient is not empty %}
                    {% set telephones_types = telephones_patient.types %}
                    {% set telephones_names = telephones_patient.patient_telephones %}
                    {% set telephones_num = telephones_patient.types|length %}
                {% else %}
                    {% set telephones_num = 1 %}
                {% endif %}

                {% for i in range(0, telephones_num-1) %}
                    {% if telephones_names is defined %} <input name="phone_id" value="{{ telephones_names[i].id }}" hidden > {% endif %}
                    <div class="input-group">
                        <div class="input-group-btn my-contact-inputs">
                            <select name="phone_type" class="form-control selectpicker show-tick">
                                {% for phone_type in all_phone_types %}
                                    <option value="{{ phone_type.id }}" {% if telephones_types is defined and phone_type.id == telephones_types[i].id %} selected {% endif %}>{{ phone_type.name }}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <input class="form-control" type="text" name="phone" {% if telephones_names is defined %} value="{{ telephones_names[i].number }}" {% endif %}>
                    </div>
                {% endfor%}
            </div>
            <div class="form-group">
                <label>{{ 'patients.section_input_email'|trans({}, 'patients') }}</label>
                {% if emails_patient is not empty %}
                    {% set email_types = emails_patient.types %}
                    {% set email_names = emails_patient.patient_emails %}
                    {% set email_num = emails_patient.types|length %}
                {% else %}
                    {% set email_num = 1 %}
                {% endif %}

                {% for i in range(0, email_num-1) %}
                    {% if email_names is defined %} <input name="email_id" value="{{ email_names[i].id }}" hidden >{% endif %}
                    <div class="input-group">
                        <div class="input-group-btn my-contact-inputs">
                            <select name="email_type" class="form-control selectpicker show-tick">
                                {% for email_type in all_email_types %}
                                    <option value="{{ email_type.id }}" {% if email_types is defined and email_type.id == email_types[i].id %} selected {% endif %}>{{ email_type.name }}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <input type="email" class="form-control" name="email" {% if email_names is defined %} value="{{ email_names[i].email }}" {% endif %}>
                    </div>
                {% endfor%}
            </div>
            <div class="form-group">
                <label>{{ 'patients.section_input_address'|trans({}, 'patients') }}</label>
                {% if addresses_patient is not empty %}
                    {% set address_types = addresses_patient.types %}
                    {% set address_names = addresses_patient.patient_address %}
                    {% set address_num = addresses_patient.types|length %}
                {% else %}
                    {% set address_num = 1 %}
                {% endif %}

                {% for i in range(0, address_num-1) %}
                    {% if address_names is defined %} <input name="address_id" value="{{ address_names[i].id }}" hidden > {% endif %}
                    <div class="input-group">
                        <div class="input-group-btn my-contact-inputs">
                            <select name="address_type" class="form-control selectpicker show-tick">
                                {% for address_type in all_address_types %}
                                    <option value="{{ address_type.id }}" {% if address_types is defined and address_type.id == address_types[i].id %} selected {% endif %}>{{ address_type.name }}</option>
                                {%endfor%}
                            </select>
                            </div>
                            <input type="text"class="form-control" name="address" {% if address_names is defined %} value="{{ address_names[i].address }}" {% endif %}>
                    </div>
                {% endfor%}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="grid_3 grid_4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-text">
            <h3>{{ 'patients.section_input_notes'|trans({}, 'patients') }}</h3>
            <br />
            <div class="input-group">
                <textarea class="form-control" rows="5" name="notes" {% if notes_patient is not empty %} value="{{ notes_patient }}" {% endif %}>{% if notes_patient is not empty %}{{ notes_patient }}{% endif %}</textarea>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    {% if allergies_patient is not empty %}
        {% set patient_allergies_id_array = [] %}
        {% for allergy in allergies_patient %}
            {% set patient_allergies_id_array = patient_allergies_id_array|merge([allergy.id]) %}
        {% endfor %}
    {% endif %}
    <div class="grid_3 grid_4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-text">
            <h3>{{ 'patients.section_input_allergies'|trans({}, 'patients') }}</h3>
            <br />
            <div class="input-group">
                <select class="selectpicker" name="allergies_type[]" multiple data-actions-box="true" data-noneSelectedText="No allergies" {% if all_allergies_types is empty %} disabled {% endif %}>
{#                    <option value="-1" {% if allergies_patient is empty %} selected {% elseif patient_allergies_id_array|length < 1 %} selected {% endif %}> No allergies </option> #}
                    {% for allergies_type in all_allergies_types %}
                        <option value="{{ allergies_type.id }}" {% if patient_allergies_id_array is defined and allergies_type.id in patient_allergies_id_array %} selected {% endif %}>{{ allergies_type.name }} - {{ allergies_type.characteristic }}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    {% if operations_patient is not empty %}
        {% set patient_operations_id_array = [] %}
        {% for operation in operations_patient %}
            {% set patient_operations_id_array = patient_operations_id_array|merge([operation.id]) %}
        {% endfor %}
    {% endif %}
    <div class="grid_3 grid_4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-text">
            <h3>{{ 'patients.section_input_operations'|trans({}, 'patients') }}</h3>
            <br />
            <div class="input-group">
                <select class="selectpicker" name="operations_type[]" multiple data-actions-box="true" data-noneSelectedText="No operations" data-deselectAllText="{{ 'base.bootstrap_selector_deselect_all'|trans({}, 'base') }}" data-selectAllText="{{ 'base.bootstrap_selector_select_all'|trans({}, 'base') }}" {% if all_operations_types is empty %} disabled {% endif %}>
{#                    <option value="-1" {% if operations_patient is empty %} selected {% elseif patient_operations_id_array|length < 1 %} selected {% endif %}> No operations </option>#}
                    {% for operations_type in all_operations_types %}
                        <option value="{{ operations_type.id }}" {% if patient_operations_id_array is defined and operations_type.id in patient_operations_id_array %} selected {% endif %}>{{ operations_type.name }} - {{ operations_type.characteristic }}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block form_patients_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/form_patients.css', 'patients') }}" />
{% endblock %}

{% block form_patients_javascripts %}
    <script type="text/javascript" src="{{ asset('js/form_patients.js', 'patients') }}"></script>
{% endblock %}
