{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <div class="mail-toolbar clearfix">
                    <!--patient_visits_toolbar-->
                    {#
                    <div class="float-right">
                        <div class="btn-group">
                            <div class="btn-group dropdown">
                                <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog icon_8"></i>
                                    <i class="fa fa-chevron-down icon_8"></i>
                                    <div class="ripple-wrapper"></div>
                                </a>
                                <ul class="dropdown-menu my-dropdown-right float-right">
                                    <li>
                                        <a id="delete_visit_patients_btn" class="font-red" title="">
                                            <i class="fa fa-times" icon_9=""></i>
                                            {{ 'base.global_delete'|trans({}, 'base') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="delete_btn_group" div class="float-right hidden">
                        <div class="btn-group">
                            <button id="delete_visit_patients_btn" class="btn btn-danger"> Delete </button>
                            <button id="cancel_delete_visit_patients_btn" class="btn btn-default"> Cancel </button>
                        </div>
                    </div>
                    #}
                    <!--/patient_visits_toolbar-->
                </div>
                <div class="profile-bottom-top">
                    <div class="profile-bottom-img">
                        <div class="hidden-lg hidden-md col-sm-4 col-xs-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            {% if patient_data.patient.photo %}
                                {% set photoUrl = profile_img_path ~ patient_data.patient.photoFileName %}
                            {% else %}
                                {% set photoUrl = 'assets/data/img/avatar.jpg' %}
                            {% endif %}
                            <img src="{{ asset(photoUrl) }}" alt="" />
                        </div>
                        <div class="hidden-lg hidden-md col-sm-4 col-xs-2"></div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center patient-header">
                            <h2>{{ patient_data.patient.name }} {{ patient_data.patient.surname }}</h2>
                            <br />
                            {% set visitsCount = visits|length %}
                            <p> {{ visitsCount }} {{ 'patients.visits'|trans({}, 'patients') }}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            {% if visits is not empty %}
                {% set i = 0 %}
                {% for visit in visits %}
                    {% set pairOrOdd = 'patient-visit-unit-pair' %}
                    {% if i is odd %}
                        {% set pairOrOdd = 'patient-visit-unit-odd' %}
                    {% endif %}

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 {{ pairOrOdd }}">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 patient-visit" url='{{ url('visits-show', {'visit_id': visit.id}) }}'>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 patient-visit-header">
                                <h3><i class="fa fa-calendar patient-visit-icon"></i> {{ visit.visitDate|date("d/m/Y H:i") }} </h3>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 patient-visit-body">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient-visit-reason-text">
                                    <h5><i class="fa fa-stethoscope patient-visit-icon"></i> {{ 'patients.visit_reason'|trans({}, 'patients') }} </h5>
                                    <hr>
                                    {% if visit.reason is not empty %}
                                        <p class="patient-visit-text-description">{{ visit.reason }}</p>
                                    {% else %}
                                        <p class="patient-visit-text-description">{{ 'patients.no_patient_visit_reason'|trans({}, 'patients') }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient-visit-resolution-text">
                                    <h5><i class="fa fa-user-md patient-visit-icon"></i> {{ 'patients.visit_comment'|trans({}, 'patients') }} </h5>
                                    <hr>
                                    {% if visit.comments is not empty %}
                                        <p class="patient-visit-text-description">{{ visit.comments }}</p>
                                    {% else %}
                                        <p class="patient-visit-text-description">{{ 'patients.no_patient_visit_comment'|trans({}, 'patients') }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            {% else %}
                <div class="grid_3 grid_4 text-center">
                    {{ 'patients.no_patient_visits'|trans({}, 'patients') }}
                </div>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/list_visits_patients.css', 'patients') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/list_visits_patients.js', 'patients') }}"></script>
{% endblock %}
