{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <!--grid-->
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <!--patients_toolbar-->
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                            <!--folders-->
                            <!--
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-folder"></i> <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Social</a></li>
                                    <li><a href="#">Forums</a></li>
                                    <li><a href="#">Updates</a></li>

                                    <li><a href="#">Spam</a></li>
                                    <li><a href="#">Trash</a></li>

                                    <li><a href="#">New</a></li>
                                </ul>
                            </div>
                            -->
                            <!--/folders-->
                            <!--AddNew User-->
                            <div class="btn-group">
{#                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#patient_addnew_modal"><i class="fa fa-user-plus text-color-green"></i> Add New Patient</button>#}
                                <a href="{{ url('patients-new') }}" class="btn btn-default"><i class="fa fa-user-plus text-color-green"></i> {{ 'patients.section_add_new'|trans({}, 'patients') }}</a>
                            </div>
                            <!--/AddNew User-->
                        </div>
                    </div>

                    {% if patients_list %}
                        <div class="float-right">
                            <div id="sortPatientsList" class="btn-group">
                                <label for="sortPatientsList_select"> {{ 'patients.sort_by'|trans({}, 'patients') }} </label>
                                <select id="sortPatientsList_select"  data-width="fit" class="selectpicker">
                                      <option url="{{ url('patients-list', {'o':'name'}) }}" {% if app.session.get('patients_orderBy') != 'register' %} selected {% endif %}> {{ 'patients.sort_by_name'|trans({}, 'patients') }} </option>
                                      <option url="{{ url('patients-list', {'o':'register'}) }}" {% if app.session.get('patients_orderBy') == 'register' %} selected {% endif %}> {{ 'patients.sort_by_register'|trans({}, 'patients') }} </option>
                                </select>
                            </div>
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                    <ul class="dropdown-menu my-dropdown-right float-right">
                                        {#
                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-download icon_9"></i>
                                                Download
                                            </a>
                                        </li>
                                        #}
                                        <li>
                                            <a id="delete_patients" class="font-red" title="">
                                                <i class="fa fa-times" icon_9=""></i>
                                                {{ 'base.global_delete'|trans({}, 'base') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!--/patients_toolbar-->

                <!-- patients_counter-->
                {% if total_patients_number is defined %}
                    {{ total_patients_number }} {{ 'base.global_section_patients'|trans({}, 'base') }}
                {% endif %}
                <!--/patients_counter-->

                <!--patients_gallery-->
                <table id="patients-table" class="my-table table">
                    {% if patients_list|length > 0  %}
                        <thead>
                            <tr class="check_patient hidden">
                                <th colspan="3" data-field="state" data-checkbox="true" class="cursor-pointer">
                                    <p id="check_all_patients"><input name="btSelectAll" type="checkbox"> {{ 'base.global_check_uncheck_all'|trans({}, 'base') }}</p>
                                </th>
                                <th>
                                    <div class="btn-group-sm pull-right">
                                        <button id="delete_patients_btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">{{ 'base.global_delete'|trans({}, 'base') }}</span></button>
                                        <button id="cancel_delete_patients_btn" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">{{ 'base.section_cancel_button'|trans({}, 'base') }}</span></button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients_list %}
                                <tr url="{{ url('patients-show', {'patient_id': patient.id}) }}" data-index="{{ patient.id }}" class="table-row patient">
                                    <td class="bs-checkbox check_patient hidden">
                                        <input name="btSelectItem" type="checkbox">
                                    </td>
                                    <td class="table-img">
                                        {% if patient.photo %}
                                            {% set photoUrl = profile_img_path ~ patient.photoFileName %}
                                        {% else %}
                                            {% set photoUrl = 'assets/data/img/avatar.jpg' %}
                                        {% endif %}
                                        <img src="{{ asset(photoUrl) }}" alt="" />
                                    </td>
                                    <td class="table-text">
                                        <h6>{{ patient.name }} {{ patient.surname }}</h6>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            {{ patient.registerDate|time_diff }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                            <tr class="table-row">
                                <td class="table-text">
                                    <center>{{ 'patients.section_no_patients'|trans({}, 'patients') }}</center>
                                </td>
                            </tr>
                        </tbody>
                    {% endif %}
                </table>
                <!--/patients_gallery-->
                {% if paginator is defined %}
                    {% include 'common/paginator.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/patients.css', 'patients') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/patients.js', 'patients') }}"></script>
{% endblock %}
