{% block plugin_last_patient %}
    <div class="content-top-1 compose">
{#          <h1>{{ 'dashboard.section_title'|trans({}, 'dashboard') }}{{ 'base.global_title'|trans({}, 'base') }}!</h1>#}
        <center><h3>{{ 'dashboard.last_patients'|trans({}, 'dashboard') }}</h3></center>
        <br/>
        <table id="last-patient" class="my-table table">
            <tbody>
            {% if last_patients |length > 0  %}
                {% set i = 0 %}
                {% for patient in last_patients %}
                    <tr url="{{ url('patients-show', {'patient_id': patient.id}) }}" data-index="{{ patient.id }}" class="table-row patient">
                        <td class="bs-checkbox check_patient hidden">
                            <input name="btSelectItem" type="checkbox">
                        </td>
                        <td class="table-img">
                            {% if patient.photo %}
                                {% set photoUrl = profile_img_path ~ patient.photoFileName %}
                            {% else %}
                                {% set photoUrl = 'assets/data/img/avatar.jpg' %}
                            {% endif %}
                            <img src="{{ asset(photoUrl) }}" alt="" />
                        </td>
                        <td class="table-text">
                            <h6>{{ patient.name }} {{ patient.surname }}</h6>
                        </td>
                        <td>
                            <div class="pull-right">
                                {{ patient.registerDate|time_diff }}
                            </div>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <center>{{ 'dashboard.no_patient_added'|trans({}, 'dashboard') }}</center> <!-- No s'ha afegit cap pacient -->
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <a class="btn btn-block btn-default" href="{{ url('patients-list') }}">{{ 'base.show_all'|trans({}, 'base') }}</a>
    </div>
    <div class="clearfix"> </div>
{% endblock %}
