{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <h2>{{ patient_data.patient.name }} {{ patient_data.patient.surname }}</h2>
                    </div>
                    <!--patient_toolbar-->
                    <div class="float-right">
                        <div class="btn-group">
                            <a href="{{ url('patients-visits-list', {'patient_id': patient_data.patient.id}) }}" class="btn btn-default">
                                {{ 'patients.list_patients_visits_section'|trans({}, 'patients') }}
                            </a>
                        </div>
                        <div class="btn-group">
                            {#<!--Labels-->
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tags"></i> <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Work</a></li>
                                    <li><a href="#">Family</a></li>
                                    <li><a href="#">Social</a></li>

                                    <li><a href="#">Primary</a></li>
                                    <li><a href="#">Promotions</a></li>
                                    <li><a href="#">Forums</a></li>
                                </ul>
                            </div>
                            <!--/Labels-->#}

                            <div class="btn-group dropdown">
                                <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog icon_8"></i>
                                    <i class="fa fa-chevron-down icon_8"></i>
                                    <div class="ripple-wrapper"></div>
                                </a>
                                <ul class="dropdown-menu my-dropdown-right float-right">
                                    <li>
                                        <a href="{{ url('patients-edit', {'patient_id': patient_data.patient.id})  }}" title="">
                                            <i class="fa fa-pencil-square-o icon_9"></i>
                                            {{ 'base.section_edit_button'|trans({}, 'base') }}
                                        </a>
                                    </li>
                                    {#
                                    <li>
                                        <a href="#" title="">
                                            <i class="fa fa-calendar icon_9"></i>
                                            Schedule
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            <i class="fa fa-download icon_9"></i>
                                            Export
                                        </a>
                                    </li>
                                    #}
                                    <li>
                                        <a id="delete_patients_btn" class="font-red" title="">
                                            <i class="fa fa-times" icon_9=""></i>
                                            {{ 'base.global_delete'|trans({}, 'base') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {#<!-- next_patient -->
                        <div class="btn-group">
                            <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                            <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <!-- /next_patient -->#}
                    </div>
                    <!--/patient_toolbar-->
                </div>
                <div class="profile-bottom-top">
                    <div class="col-md-3 profile-bottom-img">
                        {% if patient_data.patient.photo %}
                            {% set photoUrl = profile_img_path ~ patient_data.patient.photoFileName %}
                        {% else %}
                            {% set photoUrl = 'assets/data/img/avatar.jpg' %}
                        {% endif %}
                        <img src="{{ asset(photoUrl) }}" alt="" />
                    </div>
                    <div class="col-md-9 profile-text">
                        <h3>{{ 'patients.section_basic_information'|trans({}, 'patients') }}</h3>
                        <br />
                        <ul class="list-group">
                           {# <li class="list-group-item">
                                <h4 class="list-group-item-heading">Name</h4>
                                <p class="list-group-item-text">{{ patient_data.patient.name }} {{ patient_data.patient.surname }}</p>
                            </li>#}
                            {% if patient_data.patient.job is not empty %}
                                <li class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ 'patients.section_input_job'|trans({}, 'patients') }}</h4>
                                    <p class="list-group-item-text">{{ patient_data.patient.job }}</p>
                                </li>
                            {% endif %}
                            {% if patient_data.patient.age is not empty and patient_data.patient.age > 0 %}
                                <li class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ 'patients.section_input_age'|trans({}, 'patients') }}</h4>
                                    <p class="list-group-item-text">{{ patient_data.patient.age }}</p>
                                </li>
                            {% endif %}
                            {% if patient_data.patient.birthday is not empty %}
                                <li class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ 'patients.section_input_birthday'|trans({}, 'patients') }}</h4>
                                    <p class="list-group-item-text">{{ patient_data.patient.birthday|date("d/m/Y", "Europe/Madrid") }}</p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            {% if patient_data.emails is not empty or patient_data.addresses is not empty or patient_data.telephones is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12 profile-text">
                    <h3>{{ 'patients.section_contact'|trans({}, 'patients') }}</h3>
                    <br />
                    {% if patient_data.telephones is not empty %}
                        <div class="col-md-4 col-sm-12">
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">{{ 'patients.section_input_phone'|trans({}, 'patients') }}</h4>
                                {% set telephones_types = patient_data.telephones.types %}
                                {% set telephones_names = patient_data.telephones.patient_telephones %}
                                {% set telephones_num = patient_data.telephones.types|length %}
                                {% for i in range(0, telephones_num-1) %}
                                    <p class="list-group-item-text">
                                        <span class="label label-primary">{{ telephones_types[i].name }}</span> <a href="tel:+{{ telephones_names[i].number }}">{{ telephones_names[i].number }}</a>
                                    </p>
                                {% endfor %}
                            </li>
                        </div>
                    {% endif %}
                    {% if patient_data.emails is not empty %}
                        <div class="col-md-4 col-sm-12">
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">{{ 'patients.section_input_email'|trans({}, 'patients') }}</h4>
                                {% set email_types = patient_data.emails.types %}
                                {% set email_names = patient_data.emails.patient_emails %}
                                {% set email_num = patient_data.emails.types|length %}
                                {% for i in range(0, email_num-1) %}
                                    <p class="list-group-item-text">
                                        <span class="label label-primary">{{ email_types[i].name }}</span> <a href="mailto:{{ email_names[i].email }}">{{ email_names[i].email }}</a>
                                    </p>
                                {% endfor%}
                            </li>
                        </div>
                    {% endif %}
                    {% if patient_data.addresses is not empty %}
                        <div class="col-md-4 col-sm-12">
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">{{ 'patients.section_input_address'|trans({}, 'patients') }}</h4>
                                {% set address_types = patient_data.addresses.types %}
                                {% set address_names = patient_data.addresses.patient_address %}
                                {% set address_num = patient_data.addresses.types|length %}
                                {% for i in range(0, address_num-1) %}
                                    <p class="list-group-item-text">
                                        <span class="label label-primary">{{ address_types[i].name }}</span> {{ address_names[i].address }}
                                    </p>
                                {% endfor%}
                            </li>
                        </div>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}


            {% if patient_data.patient.notes is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12 profile-text">
                    <h3>{{ 'patients.section_input_notes'|trans({}, 'patients') }}</h3>
                    <br />
                    {{ patient_data.patient.notes }}
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}

            {% if patient_data.allergies is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12 profile-text">
                    <h3>{{ 'patients.section_input_allergies'|trans({}, 'patients') }}</h3>
                    <br />
                    <ul class="list-group">
                        {% for allergy in patient_data.allergies %}
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">{{ allergy.name }}</h4>
                                <p class="list-group-item-text">{{ allergy.characteristics }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}

            {% if patient_data.operations is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12 profile-text">
                    <h3>{{ 'patients.section_input_operations'|trans({}, 'patients') }}</h3>
                    <br />
                    <ul class="list-group">
                    {% for operation in patient_data.operations %}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{ operation.name }}</h4>
                            <p class="list-group-item-text">{{ operation.characteristics }}</p>
                        </li>
                    {% endfor%}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/show_patients.css', 'patients') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/patients.js', 'patients') }}"></script>
    <script>
        patients_selected.push({{ patient_data.patient.id }});
    </script>
    <script type="text/javascript" src="{{ asset('js/show_patients.js', 'patients') }}"></script>
{% endblock %}
