{% block add_visits_modal %}
    <div class="modal fade" id="modal_add_new_fee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style='background-color: #D95459; color: #fff;'>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-money fa-lg"></i> {{ 'fees.modal_add_fees_title'|trans({}, 'fees') }}</h4>
                </div>
                <form id='modal_addNewFeeForm' action='{{ url('settings-fees-save') }}' type='POST'>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="modal_fees_name" class="control-label">{{ 'fees.modal_label_name'|trans({}, 'fees') }}</label>
                            <input type="text" class="form-control" id="modal_fees_name" name="fee_name" required/>
                        </div>
                        <div class="form-group">
                            <label for="modal_fees_price" class="control-label">{{ 'fees.modal_label_price'|trans({}, 'fees') }}</label>
                            <input class="form-control" id="modal_fees_price" name="fee_price" required/>
                        </div>
                        <div class="form-group">
                            <label for="modal_fees_iva" class="control-label">{{ 'fees.modal_label_iva'|trans({}, 'fees') }}</label>
                            <input class="form-control" id="modal_fees_iva" name="fee_iva" required/>
                        </div>
                        <div class="form-group">
                            <label for="modal_fees_active" class="control-label">{{ 'fees.modal_label_active'|trans({}, 'fees') }}</label>
                            <input type="checkbox" id="modal_fees_active" name="fee_active"/>
                            <!-- <input class="form-control" id="modal_fees_active" name="fee_active"/> -->
                        </div>
                        <div class="form-group">
                            <label for="modal_fees_default" class="control-label">{{ 'fees.modal_label_default'|trans({}, 'fees') }}</label>
                            <input type="checkbox" id="modal_fees_default" name="fee_default"/>
                            <!-- <input class="form-control" id="modal_fees_default" name="fee_default"/> -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style='margin-bottom: 0px!important;' data-dismiss="modal">{{ 'visits.modal_button_cancel'|trans({}, 'visits') }}</button>
                        <button id='modal_submit_add_new' type="submit" class="btn btn-success">{{ 'visits.modal_button_addNew'|trans({}, 'visits') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
