{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <!--fee_toolbar-->
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                            <!--AddNew Fee-->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_add_new_fee"><i class="fa fa-money text-color-green"></i> {{ 'fees.section_add_new'|trans({}, 'fees') }}</button>
                            </div>
                            <!--/AddNew Fee-->
                        </div>
                    </div>

                    {% if fees_list|length > 0 %}
                    <div class="float-right">
                        <a id="delete_fees" class="btn btn-default" title="">
                            <i class="fa fa-times text-color-red" icon_9=""></i>
                            {{ 'base.global_delete'|trans({}, 'base') }}
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!--/fee_toolbar-->

                {# {{ dump(fees_list) }} #}

                <!-- fee_counter-->
                {{ fees_list|length }} {{ 'base.global_section_fees'|trans({}, 'base') }}
                <!--/fee_counter-->

                <!-- fee_gallery -->
                <table id="fees-table" class="my-table table">
                    <thead>
                        <tr class="check_fee hidden">
                            <th colspan="6" data-field="state" data-checkbox="true" class="cursor-pointer">
                                <p id="check_all_fees"><input name="btSelectAll" type="checkbox"> {{ 'base.global_check_uncheck_all'|trans({}, 'base') }}</p>
                            </th>
                            <th>
                                <div class="btn-group-sm pull-right">
                                    <button id="delete_fees_btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">{{ 'base.global_delete'|trans({}, 'base') }}</span></button>
                                    <button id="cancel_delete_fees_btn" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">{{ 'base.section_cancel_button'|trans({}, 'base') }}</span></button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee in fees_list %}
                            <tr url="{{ url('settings-fees-show', {'fee_id': fee.id}) }}" data-index="{{ fee.id }}" class="table-row fee">
                                <td class="bs-checkbox check_fee hidden">
                                    <input name="btSelectItem" type="checkbox">
                                </td>
                                <td class="table-text col-md-3">
                                    {{ fee.name }}
                                </td>
                                <td class="table-text">
                                    <div class="float-left">
                                        {{ fee.price }}€
                                    </div>
                                </td>
                                <td class="table-text">
                                    <div class="float-left">
                                        {{ fee.iva }}%
                                    </div>
                                </td>
                                <td class="table-text">
                                    <div class="float-left">
                                        {{ (fee.activeFee == 1? 'fees.active' : 'fees.disabled')|trans({}, 'fees') }}
                                    </div>
                                </td>
                                <td class="table-text">
                                    <div class="float-left">
                                        {{ (fee.defaultFee == 1? 'fees.default' : '')|trans({}, 'fees') }}
                                    </div>
                                </td>
                                <td class="table-text">
                                    <div class="float-right">
                                        {{ fee.registerDate|time_diff }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--/operations_gallery-->
                {# {% include 'common/paginator.html.twig' %} #}
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"></div>
        {% include 'fees/add_fees_modal.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fees.css', 'fees') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/fees.js', 'fees') }}"></script>
{% endblock %}
