{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <h2>{{ fee.name|capitalize }}</h2><h3><p>{{ 'fees.section_input_creationDate'|trans({}, 'fees') }} {{ fee.registerDate|date("d/m/Y", "Europe/Madrid") }}</p></h3>
                    </div>
                    <!--fee_toolbar-->
                    <div class="float-right">
                        <div class="btn-group">
                            <div class="btn-group dropdown">
                                <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog icon_8"></i>
                                    <i class="fa fa-chevron-down icon_8"></i>
                                    <div class="ripple-wrapper"></div>
                                </a>
                                <ul class="dropdown-menu my-dropdown-right float-right">
                                    {#
                                    <li>
                                        <a href="{{ url('settings-fees-edit', {'fee_id': fee.id})  }}" title="">
                                            <i class="fa fa-pencil-square-o icon_9"></i>
                                            {{ 'base.section_edit_button'|trans({}, 'base') }}
                                        </a>
                                    </li>
                                    #}
                                    <li>
                                        <a id="delete_fees_btn" class="font-red" title="">
                                            <i class="fa fa-times" icon_9=""></i>
                                            {{ 'base.global_delete'|trans({}, 'base') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--/fee_toolbar-->
                    <!--fee_header-->
                    <h3>{{ 'fees.section_header'|trans({}, 'fees') }}</h3>
                    <br />
                    <div class="col-md-6">
                        {% if fee.price is not empty %}
                            {#<li class="list-group-item">#}
                            <h4 class="list-group-item-heading">{{ 'fees.modal_label_price'|trans({}, 'fees') }}</h4>
                            <p class="list-group-item-text">{{ fee.price}}</p>
                            {#</li>#}
                        {% endif %}
                        {% if fee.iva is not empty %}
                            <h4 class="list-group-item-heading">{{ 'fees.modal_label_iva'|trans({}, 'fees') }}</h4>
                            <p class="list-group-item-text">{{ fee.iva }}%</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% if fee.activeFee is not empty %}
                            <h4 class="list-group-item-heading">{{ 'fees.modal_label_active'|trans({}, 'fees') }}</h4>
                            <p class="list-group-item-text">{{ fee.activeFee }}</p>
                        {% endif %}
                        {% if fee.defaultFee is not empty %}
                            <h4 class="list-group-item-heading">{{ 'fees.modal_label_default'|trans({}, 'fees') }}</h4>
                            <p class="list-group-item-text">{{ fee.defaultFee }}</p>
                        {% endif %}
                    </div>
                    <!--\fee_header-->
                </div>
            </div>
            <!--fee_patients-->
            <div class="grid_3 grid_4">
                {#{{ dump(patients_list) }}#}
                <h3>{{ 'fees.section_patients'|trans({}, 'fees') }}</h3>
                <br />
                <!-- patients_counter-->
                {{ patients_list|length }} {{ 'base.global_section_patients'|trans({}, 'base') }}
                <!--/patients_counter-->
                <!--patients_gallery-->
                <table id="patients-table" class="my-table table">
                    {% if patients_list|length > 0  %}
                        <thead>
                        <tr class="check_patient hidden">
                            <th colspan="3" data-field="state" data-checkbox="true" class="cursor-pointer">
                                <p id="check_all_patients"><input name="btSelectAll" type="checkbox"> {{ 'base.global_check_uncheck_all'|trans({}, 'base') }}</p>
                            </th>
                            <th>
                                <div class="btn-group-sm pull-right">
                                    <button id="delete_patients_btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">{{ 'base.global_delete'|trans({}, 'base') }}</span></button>
                                    <button id="cancel_delete_patients_btn" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">{{ 'base.section_cancel_button'|trans({}, 'base') }}</span></button>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for patient in patients_list %}
                            <tr url="{{ url('patients-show', {'patient_id': patient.id}) }}" data-index="{{ patient.id }}" class="table-row patient">
                                <td class="bs-checkbox check_patient hidden">
                                    <input name="btSelectItem" type="checkbox">
                                </td>
                                <td class="table-img">
                                    {% if patient.photo %}
                                        {% set photoUrl = profile_img_path ~ patient.photoFileName %}
                                    {% else %}
                                        {% set photoUrl = 'assets/data/img/avatar.jpg' %}
                                    {% endif %}
                                    <img src="{{ asset(photoUrl) }}" alt="" />
                                </td>
                                <td class="table-text">
                                    <h6>{{ patient.name }} {{ patient.surname }}</h6>
                                </td>
                                <td>
                                    <div class="pull-right">
                                        {{ patient.registerDate|time_diff }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                        <tr class="table-row">
                            <td class="table-text">
                                <center>{{ 'patients.section_no_patients'|trans({}, 'patients') }}</center>
                            </td>
                        </tr>
                        </tbody>
                    {% endif %}
                </table>
                <!--/patients_gallery-->
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--\fee_patients-->
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/show_fees.css', 'fees') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/patients.css', 'patients') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/fees.js', 'fees') }}"></script>
    <script>
        fees_selected.push({{ fee.id }});
    </script>
    <script type="text/javascript" src="{{ asset('js/show_fees.js', 'fees') }}"></script>
    <script type="text/javascript" src="{{ asset('js/patients.js', 'patients') }}"></script>
{% endblock %}