{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <form id="add-new-operation-form" url="{{ url('operations-save') }}" type="post">
        <div class="typo-grid">
            <div class="typo-1">
                <div class="grid_3 grid_4">
                    <!--operations_toolbar-->
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                <!--AddNew Operation-->
                                <div class="btn-group">
    {#                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#operation_addnew_modal"><i class="fa fa-user-plus text-color-green"></i> Add New Patient</button>#}
                                    <a id="show_addNew_form" class="btn btn-default"><i class="fa fa-ambulance text-color-green"></i> {{ 'operations.section_add_new'|trans({}, 'operations') }}</a>
                                    </div>
                                    <!--/AddNew Operation-->
                                </div>
                            </div>

                        {% if operations_list|length > 0 %}
                        <div class="float-right">
                            <a id="delete_operations" class="btn btn-default" title="">
                                <i class="fa fa-times text-color-red" icon_9=""></i>
                                {{ 'base.global_delete'|trans({}, 'base') }}
                            </a>
                            {#<div class="btn-group">
                                <div class="btn-group dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                    <ul class="dropdown-menu my-dropdown-right float-right">
                                        <li>
                                            <a id="delete_operations" class="font-red" title="">
                                                <i class="fa fa-times" icon_9=""></i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>#}
                        </div>
                        {% endif %}
                    </div>
                    <!--/operations_toolbar-->

                    <!--operations_gallery-->
                    <table id="operations-table" class="my-table table">
                        <thead>
                            <tr class="check_operation hidden">
                                <th colspan="2" data-field="state" data-checkbox="true" class="cursor-pointer">
                                    <p id="check_all_operations"><input name="btSelectAll" type="checkbox"> {{ 'base.global_check_uncheck_all'|trans({}, 'base') }}</p>
                                </th>
                                <th>
                                    <div class="btn-group-sm pull-right">
                                        <button id="delete_operations_btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">{{ 'base.global_delete'|trans({}, 'base') }}</span></button>
                                        <button id="cancel_delete_operations_btn" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">{{ 'base.section_cancel_button'|trans({}, 'base') }}</span></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="add_new_operation_buttons hidden">
                                <th></th>
                                <th>
                                    <div class="btn-group-sm pull-right">
                                        <button class="btn btn-success" type="submit">{{ 'base.section_add_new_button'|trans({}, 'base') }}</button>
                                        <button id="add-new-operation-form-cancel" class="btn btn-default">{{ 'base.section_cancel_button'|trans({}, 'base') }}</button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if operations_list|length > 0  %}
                                {% for operation in operations_list %}
                                    <tr class="table-row operation" data-index="{{ operation.id }}">
                                        <td class="bs-checkbox check_operation hidden">
                                            <input name="btSelectItem" type="checkbox">
                                        </td>
                                        <td class="table-text col-md-3">
                                            {{ operation.name }}
                                        </td>
                                        <td class="table-text">
                                            <div class="float-left">
                                                {{ operation.characteristics }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="table-row">
                                    <td class="table-text" colspan="2">
                                        <center>{{ 'operations.section_no_operations'|trans({}, 'operations') }}</center>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr class="table-row add-new-operation hidden">
                                <td class="table-text col-md-3">
                                    <input class="form-control" type="text" name="operation_name" placeholder="{{ 'operations.input_placeholder_new_name'|trans({}, 'operations') }}" required />
                                </td>
                                <td class="table-text">
                                    <input class="form-control" type="text" name="operation_characteristics" placeholder="{{ 'operations.input_placeholder_new_characteristic'|trans({}, 'operations') }}" required />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--/operations_gallery-->
                    {% include 'common/paginator.html.twig' %}
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/operations.css', 'operations') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/operations.js', 'operations') }}"></script>
{% endblock %}
