{% block add_visits_modal %}
    <div class="modal fade" id="modal_add_new_visit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style='background-color: #D95459; color: #fff;'>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">{{ 'visits.modal_add_visit_title'|trans({}, 'visits') }}</h4>
                </div>
                <form id='modal_addNewPatientForm' url='{{ url('visits-save') }}' type='POST'>
                    <div class="modal-body">
                        <input type="text" class="hidden" name='visit_date' id="modal_visit_dateTime" value=''/>
                        <div class="form-group">
                            <label for="modal_visit_day" class="control-label">{{ 'visits.modal_label_day'|trans({}, 'visits') }}</label>
                            <input type="text" class="form-control" id="modal_visit_day" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="visit_hour" class="control-label">{{ 'visits.modal_label_hour'|trans({}, 'visits') }}</label>
                            <input class="form-control" id="modal_visit_hour" readonly/>
                        </div>
                        {% include 'visits/forms/inputs/input_patients.html.twig' %}
                        {% include 'visits/forms/inputs/input_fee.html.twig' %}
                        <div class="form-group">
                            <label for="modal_visit_reason" class="control-label">{{ 'visits.section_input_visit_reason'|trans({}, 'visits') }}</label>
                            <textarea class="form-control" rows="5" name="reason" id="modal_visit_reason" name='' type="text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style='margin-bottom: 0px!important;' data-dismiss="modal">{{ 'visits.modal_button_cancel'|trans({}, 'visits') }}</button>
                        <button id='modal_submit_add_new' type="submit" class="btn btn-success">{{ 'visits.modal_button_addNew'|trans({}, 'visits') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
