{% block form_visits %}

    {% if visit is defined %}
        {% set visit_id = visit.id %}
        {% set visit_patient = visit.patient %}
        {% set visit_fee = visit.fee %}
        {% set visit_visitDate = visit.visitDate %}
        {% set visit_reservationDate = visit.reservationDate %}
        {% set visit_reason = visit.reason %}
        {% set visit_comments = visit.comments %}
    {% else %}
        {% set visit_id = "" %}
        {% set visit_patient = "" %}
        {% set visit_fee = "" %}
        {% set visit_visitDate = "" %}
        {% set visit_reservationDate = "" %}
        {% set visit_reason = "" %}
        {% set visit_comments = "" %}
    {% endif %}

    <div class="grid_3 grid_4">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if edit is defined %}
                <input name="visit_id" value="{{ visit_id }}" hidden>
            {% endif %}
            {% include 'visits/forms/inputs/input_patients.html.twig' %}
            <div class="form-group">
                <label for="visit_date_input">{{ 'visits.section_input_visit_date'|trans({}, 'visits') }}</label>
                <div class='input-group date' id='datetimepicker1'>
                    {% if visit_visitDate is not empty %}
                        <input type='text' id="visit_hour_date" value="{{ visit_visitDate|date("Y-m-d H:i:s", "Europe/Madrid") }}" hidden/>
                    {% endif %}
                    <input type='text' class="form-control" id="visit_date_input" name="visit_date" {% if visit_visitDate is not empty %} value="{{ visit_visitDate|date("Y-m-d H:i:s", "Europe/Madrid") }}" {% endif %} readonly required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% include 'visits/forms/inputs/input_fee.html.twig' %}
            </div>
            {% if edit is defined %}
            <div class="form-group">
                <label for="reservation_date_input">{{ 'visits.section_input_reservation_date'|trans({}, 'visits') }}</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id="reservation_date_input" name="reservation_date" value="{{ visit_reservationDate|date("Y-m-d H:i:s", "Europe/Madrid") }}" readonly/>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="grid_3 grid_4">
        <div class="col-md-12 profile-text">
            <h3>{{ 'visits.section_input_visit_reason'|trans({}, 'visits') }}</h3>
            <br />
            <div class="input-group">
                <textarea class="form-control" rows="5" name="reason" {% if visit_reason is not empty %} value="{{ visit_reason }}" {% endif %}>{% if visit_reason is not empty %}{{ visit_reason }}{% endif %}</textarea>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="grid_3 grid_4">
        <div class="col-md-12 profile-text">
            <h3>{{ 'visits.section_input_visit_comments'|trans({}, 'visits') }}</h3>
            <br />
            <div class="input-group">
                <textarea class="form-control" rows="5" name="comments" {% if visit_comments is not empty %} value="{{ visit_comments }}" {% endif %}>{% if visit_comments is not empty %}{{ visit_comments }}{% endif %}</textarea>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
{% endblock %}

{% block form_visits_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/form_visits.css', 'visits') }}" />
{% endblock %}

{% block form_visits_javascripts %}
    <script type="text/javascript" src="{{ asset('js/form_visits.js', 'visits') }}"></script>
{% endblock %}
