{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="content-top">
        {#<ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#visits-daily">Daily</a></li>
            <li><a data-toggle="tab" href="#visits-weekly">Weekly</a></li>
        </ul>
        <div class="tab-content">
            <div id="visits-daily" class="tab-pane fade in active">#}
                <div class="col-md-4 visits-calendar">
                    <div class="content-top-1 compose less-padding">
                        <!--visits_calendar-->
                        <h2>{{ 'visits.section_visits_calendar'|trans({}, 'visits') }}</h2>
                        <div id="datetimepicker_visits"></div>
                        <div class="clearfix"></div>
                        <!--/visits_calendar-->
                    </div>
                </div>
                <div class="col-md-8 visits-dashboard">
                    <div class="content-top-1 compose">
                        <div class="col-md-12">
                            <!--visits_toolbar-->
                            <div class="mail-toolbar clearfix">
                                <div class="float-left">
                                    <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                        <!--AddNew Visit-->
                                        <div class="btn-group">
                                            <a href="{{ url('visits-new') }}" class="btn btn-default"><i class="fa fa-calendar-check-o text-color-green"></i> {{ 'visits.section_add_new'|trans({}, 'visits') }}</a>
                                        </div>
                                        <!--/AddNew Visit-->
                                    </div>
                                </div>

                                {% set hidden = '' %}
                                {% if visits_list|length == 0 %}
                                    {% set hidden = 'hidden' %}
                                {% endif %}
                                <div id="visit_toolbar_delete" class="float-right {{ hidden }}">
                                    <div class="btn-group">
                                        <div class="btn-group dropdown">
                                            <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-cog icon_8"></i>
                                                <i class="fa fa-chevron-down icon_8"></i>
                                                <div class="ripple-wrapper"></div>
                                            </a>
                                            <ul class="dropdown-menu my-dropdown-right float-right">
                                                <li>
                                                    <a id="delete_visits" class="font-red" title="">
                                                        <i class="fa fa-times" icon_9=""></i>
                                                        {{ 'base.global_delete'|trans({}, 'base') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/visits_toolbar-->
                            <div id='loading-gif' class="col-xs-6 col-xs-offset-5 col-md-6 col-md-offset-5 hidden">
                                <img style='width: 50px' src='{{ asset('assets/data/img/default.gif') }}'>
                            </div>
                            {% include 'visits/list_table_visits.html.twig' %}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <!--/visits_gallery-->
                {% include 'visits/add_visits_modal.html.twig' %}
            {#</div>
            <div id="visits-weekly" class="tab-pane fade">
                Weekly
            </div>
        </div>#}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/visits.css', 'visits') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/visits.js', 'visits') }}"></script>
    <script type="text/javascript" src="{{ asset('js/visits-day.js', 'visits') }}"></script>
{% endblock %}
