{% block list_table_visits_weekly %}
    <div class="col-md-3 col-sm-3 col-xs-3 text-left">
        <a id="go_previous"
           date="{{ list_date|date_modify("-1 week")|date("Y-m-d") }}"
           class="btn btn-default">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>
    <div class="visits-month-title col-md-6 col-sm-6 col-xs-6 text-center">
        {% if list_date|date('w') < 3 %}
            {% set middle_week_date =  list_date|date_modify('next Wednesday') %}
        {% elseif list_date|date('w') < 3 %}
            {% set middle_week_date =  list_date|date_modify('last Wednesday') %}
        {% else %}
            {% set middle_week_date =  list_date %}
        {% endif %}
        <h3 class="hidden-sm hidden-xs">
            {{ middle_week_date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", 'LLLL')|capitalize }} {{ list_date|date('Y') }}
        </h3>
        <h3 class="hidden-lg hidden-md">
            {{ middle_week_date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", 'LLL')|capitalize }} {{ list_date|date('Y') }}
        </h3>
        <input id="current_day"
               value="{{ list_date }}"
               hidden />
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 text-right">
        <a id="go_next"
           date="{{ list_date|date_modify("+1 week")|date("Y-m-d") }}"
           class="btn btn-default">
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
    <div id="visits-table-weekly"
         class="visits-table col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="visits-table col-lg-12 col-md-12 col-xs-12 col-sm-12  text-center">
            <div class="visits-table-row visits-table-row-header col-md-12">
                <div class="visits-table-header-empty col-xs-2 col-sm-2 col-md-1">
                </div>
                <div class="visits-table-header-week col-xs-10 col-sm-10 col-md-11">
                    {% set days_count = 0 %}
                    {% for list_date in days %}
                        <div class="visits-table-header visit-day-row visits-table-column-width" data-day="{{ list_date|date('Y-m-d') }}">
                            <div class="visits-table-number {% if "now"|date('Y-m-d') == list_date|date('Y-m-d') %} visit-number-today center-block {% endif %}">
                                {{ list_date|date('j') }}
                            </div>
                            <div class="visits-table-day hidden-sm hidden-xs">
                                {# {{ list_date|date('l') }} #}
                                {{ list_date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", 'EEEE')|capitalize }}
                            </div>
                            <div class="visits-table-day hidden-lg hidden-md">
                                {# {{ list_date|date('D') }} #}
                                {{ list_date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", 'EEE')|capitalize }}
                            </div>
                        </div>
                        {% set days_count = days_count + 1 %}
                    {% endfor %}
                 </div>
            </div>

            <div class="visits-table-body">
                <div class="hide-v-scroll visits-table-column-hours col-xs-2 col-sm-2 col-md-1">
                    <div class="visits-table-scrollable-hours follow-scrollable-vertical">
                        <table class="visits-table table">
                            <tbody>
                                {% set hours = ['07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22'] %}
                                {% for hour in hours %}
                                    <tr class="table-row visit-hour-row text-left"
                                        data-hour="{{ hour }}">
                                        <td class="table-text col-md-3 text-left">
                                            {{ hour ~ ":00" }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="visits-table-scrollable-vertical col-xs-10 col-sm-10 col-md-11 text-left">
                    {% set days_count = 0 %}
                    {% for list_date in days %}
                        <div class="visits-table-column visits-table-column-width text-center {% if "now"|date('Y-m-d') == list_date|date('Y-m-d') %} visit-today {% endif %}">
                            {% set fullFormattedDate = list_date|localizeddate('full', 'none', app.request.locale) %}

                            <table class="visits-table table">
                                <tbody>
                                    {% for hour in hours %}
                                        {% set picked_visit = null %}
                                        {% set picked_hour = 0 %}
                                        {% set picked_i = 0 %}
                                        {% set i = 0 %}
                                        {% for my_visit in visits_list %}
                                            {% set visit_hour = my_visit.visitDate|date("H", "Europe/Madrid") %}
                                            {% if hour == visit_hour and my_visit.visitDate|date('Y-m-d') == list_date|date('Y-m-d')%}
                                                {% set picked_hour = hour %}
                                                {% set picked_visit = my_visit %}
                                                {% set picked_i = i %}
                                            {% endif %}
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                        {% if picked_hour != 0 %}
                                            <tr class="table-row patient visit"
                                                url=" {{ url('visits-show', {'visit_id': picked_visit.id}) }}"
                                                data-index="{{ picked_visit.id }}"
                                                data-day="{{ list_date|date('Y-m-d') }}"
                                                data-hour="{{ hour }}">
                                                <td class="table-text text-center visits-table-unit bs-checkbox">
                                                    <input name="btSelectItem"
                                                           type="checkbox"
                                                           class="hidden" />
                                                    <div class="visits-table-unit">
                                                        <a>{{ visits_patients_name[picked_i] }}</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="table-row visit-empty"
                                                data-daytext="{{ fullFormattedDate }}"
                                                data-day="{{ list_date|date('Y-m-d') }}"
                                                data-hour="{{ hour }}" >
                                                <td class="table-text text-center">
                                                    <div class="visits-table-unit">
                                                        {{ 'visits.empty_visit'|trans({}, 'visits') }}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% set days_count = days_count + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
