{% block list_table_visits %}
    {% set fullFormattedDate = list_date|localizeddate('full', 'none', app.request.locale) %}
    <!--visits_gallery-->
    <div id="list_table_visits">
        <div class="head-table-visits">
            <div class="float-right">
                {# Day-to-day picker #}
                <button id="go_previous" date="{{ list_date|date_modify("-1 day")|date("Y-m-d") }}" url="{{ url('visits-list', {'day': list_date|date_modify("-1 day")|date("Y-m-d")}) }}" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                <button id="go_today" url="{{ url('visits-list', {'day': "now"|date("Y-m-d")}) }}" class="btn btn-default">{{ 'visits.section_today'|trans({}, 'visits') }}</button>
                <button id="go_next" date="{{ list_date|date_modify("+1 day")|date("Y-m-d") }}" url="{{ url('visits-list', {'day': list_date|date_modify("+1 day")|date("Y-m-d")}) }}" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
            </div>
            <div class="float-left">
                <h3>{{ fullFormattedDate }}</h3>
                <input id="current_day" value="{{ list_date }}" hidden />
                <p>{{ visits_list|length }} {{ 'base.global_section_visits'|trans({}, 'base') }}</p>
            </div>
        </div>
        <table class="visits-table table">
            {#{% if visits_list|length > 0  %}#}
            <thead>
                <tr class="check_visit hidden">
                    <th colspan="3" data-field="state" data-checkbox="true" class="cursor-pointer">
                        <p id="check_all_visits"><input name="btSelectAll" type="checkbox"> {{ 'base.global_check_uncheck_all'|trans({}, 'base') }}</p>
                    </th>
                    <th>
                        <div class="btn-group-sm pull-right">
                            <button id="delete_visits_btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">{{ 'base.global_delete'|trans({}, 'base') }}</span></button>
                            <button id="cancel_delete_visits_btn" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">{{ 'base.section_cancel_button'|trans({}, 'base') }}</span></button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% set hours = ['07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22'] %}
                {% for hour in hours %}
                    {% set picked_visit = null %}
                    {% set picked_hour = 0 %}
                    {% set picked_i = 0 %}
                    {% set i = 0 %}
                    {% for my_visit in visits_list %}
                        {% set visit_hour = my_visit.visitDate|date("H", "Europe/Madrid") %}
                        {% if hour == visit_hour %}
                            {% set picked_hour = hour %}
                            {% set picked_visit = my_visit %}
                            {% set picked_i = i %}
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                    {% if picked_hour != 0 %}
                        <tr class="table-row patient visit" url="{{ url('visits-show', {'visit_id': picked_visit.id}) }}" data-index="{{ picked_visit.id }}">
                            <td class="bs-checkbox check_visit hidden">
                                <input name="btSelectItem" type="checkbox">
                            </td>
                            <td class="table-text col-md-3">
                                {{ picked_visit.visitDate|date("H:i", "Europe/Madrid") }}
                            </td>
                            <td class="table-text">
                                <div class="float-left">
                                    <a>{{ visits_patients_name[picked_i] }}</a>
                                </div>
                            </td>
                            <td class="table-text">
                                {{ picked_visit.reason }}
                            </td>
                        </tr>
                    {% else %}
{#                        <tr class="table-row visit-empty" data-toggle="modal" data-target="#modal_add_new_visit" data-daytext="{{ fullFormattedDate }}" data-day="{{ list_date }}" data-hour="{{ hour }}" >#}
                        <tr class="table-row visit-empty" data-daytext="{{ fullFormattedDate }}" data-day="{{ list_date }}" data-hour="{{ hour }}" >
                            <td class="bs-checkbox check_visit hidden">
{#                                    <input name="btSelectItem" type="checkbox">#}
                            </td>
                            <td class="table-text col-md-3">
                                {{ hour ~ ":00" }}
                            </td>
                            <td class="table-text">
                                <div class="float-left">
                                    {{ 'visits.empty_visit'|trans({}, 'visits') }}
                                </div>
                            </td>
                            <td class="table-text">
                                <button class='show_modal_add_new btn btn-success btn-sm hidden'><i class="fa fa-calendar-check-o" style='color: white;'></i>{#{{ 'visits.modal_add_visit_title'|trans({}, 'visits') }}#}</button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
{#            {% else %}
                <tbody>
                    <tr class="table-row">
                        <td class="table-text">
                            <center>{{ 'visits.section_no_visits'|trans({}, 'visits') }}</center>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
#}
        </table>
    </div>
{% endblock %}
