{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <!--grid-->
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <!--visits_toolbar-->
                <div class="mail-toolbar clearfix">
                    <div class="float-left additional-hide-when-removing">
                        <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                            <!--AddNew Visit-->
                            <div class="btn-group">
                                <a href="{{ url('visits-new') }}" class="btn btn-default"><i class="fa fa-calendar-check-o text-color-green"></i> {{ 'visits.section_add_new'|trans({}, 'visits') }}</a>
                            </div>
                            <!--/AddNew Visit-->
                        </div>
                    </div>
                    <div class="float-left check_visit hidden">
                        <div class="float-left check_all_container">
                            <p id="check_all_visits"><input name="btSelectAll" type="checkbox"> {{ 'base.global_check_uncheck_all'|trans({}, 'base') }}</p>
                        </div>
                        <div class="float-right">
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                <div class="btn-group-sm pull-right">
                                    <button id="delete_visits_btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">{{ 'base.global_delete'|trans({}, 'base') }}</span></button>
                                    <button id="cancel_delete_visits_btn" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">{{ 'base.section_cancel_button'|trans({}, 'base') }}</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% set hidden = '' %}
                    {% if visits_list|length == 0 %}
                        {% set hidden = 'hidden' %}
                    {% endif %}
                    <div class="float-right">
                        <div id="visit_toolbar_delete" class="{{ hidden }}">
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                    <ul class="dropdown-menu my-dropdown-right float-right">
                                        <li>
                                            <a id="delete_visits" class="font-red" title="">
                                                <i class="fa fa-times" icon_9=""></i>
                                                {{ 'base.global_delete'|trans({}, 'base') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/visits_toolbar-->
                <div id='visits-search-list' class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% set i = 0 %}
                    {% set hasVisits = 0 %}
                    {% for patient in patients_list %}
                        {% if visits_list[i]|length > 0 %}
                            {% set hasVisits = 1 %}
                            <div class="patient-name col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="patient-title float-left">
                                    <h3>
                                        <i class="fa fa-calendar visit-icon"></i>
                                        <a href="{{ url('patients-show', {'patient_id': patient.id }) }}">
                                            {{ patient.name }} {{ patient.surname }}
                                        </a>
                                    </h3>
                                </div>
                                <div class="patient-visits-number float-right">
                                    {{ visits_list[i]|length }} {{ 'patients.visits'|trans({}, 'patients') }}
                                </div>
                            </div>
                            <table class="visits-table visits-table-search-results table">
                                <tbody>
                                    {# {{ dump(visits_list) }} #}
                                    {% for visit in visits_list[i] %}
                                        <tr class="table-row patient visit" url="{{ url('visits-show', {'visit_id': visit.id}) }}" data-index="{{ visit.id }}">
                                            <td class="bs-checkbox check_visit hidden col-md-1">
                                                <input name="btSelectItem" type="checkbox">
                                            </td>
                                            <td class="table-text col-md-3">
                                                <b>{{ visit.visitDate|localizeddate('none', 'none', app.request.locale, "Europe/Paris", 'EEEE')|capitalize }}, {{ visit.visitDate|localizeddate('medium', 'none', app.request.locale) }}</b>
                                                {{ visit.visitDate|date("H:i", "Europe/Madrid") }}
                                            </td>
                                            <td class="table-text col-md-4 hidden-xs hidden-sm">
                                                {% if visit.reason is not null and visit.reason != "" %}
                                                    {{ visit.reason }}
                                                {% else %}
                                                    {{ 'visits.no_reason'|trans({}, 'visits') }}
                                                {% endif %}
                                            </td>
                                            <td class="table-text col-md-4 hidden-xs hidden-sm">
                                                {% if visit.comments is not null %}
                                                    {{ visit.comments }}
                                                {% else %}
                                                    {{ 'visits.no_comments'|trans({}, 'visits') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}

                    {% if hasVisits == 0 %}
                        <tbody>
                            <tr class="table-row">
                                <td class="table-text">
                                    <center>{{ 'visits.section_no_visits'|trans({}, 'visits') }}</center>
                                </td>
                            </tr>
                        </tbody>
                    {% endif %}
                </div>
                <div id='loading-gif' class="col-xs-6 col-xs-offset-5 col-md-6 col-md-offset-5 hidden">
                    <img style='width: 50px' src='{{ asset('assets/data/img/default.gif') }}'>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    {% include 'visits/add_visits_modal.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/visits.css', 'visits') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/visits_search.css', 'visits') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/visits.js', 'visits') }}"></script>
    <script type="text/javascript" src="{{ asset('js/visits-search.js', 'visits') }}"></script>
{% endblock %}
