{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <!--grid-->
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <!--visits_toolbar-->
                <div class="mail-toolbar clearfix">
                    <div class="float-left additional-hide-when-removing">
                        <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                            <!--AddNew Visit-->
                            <div class="btn-group">
                                <a href="{{ url('visits-new') }}" class="btn btn-default"><i class="fa fa-calendar-check-o text-color-green"></i> {{ 'visits.section_add_new'|trans({}, 'visits') }}</a>
                            </div>
                            <!--/AddNew Visit-->
                        </div>
                    </div>
                    <div class="float-left check_visit hidden">
                        <div class="float-left check_all_container">
                            <p id="check_all_visits"><input name="btSelectAll" type="checkbox"> {{ 'base.global_check_uncheck_all'|trans({}, 'base') }}</p>
                        </div>
                        <div class="float-right">
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                <div class="btn-group-sm pull-right">
                                    <button id="delete_visits_btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">{{ 'base.global_delete'|trans({}, 'base') }}</span></button>
                                    <button id="cancel_delete_visits_btn" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">{{ 'base.section_cancel_button'|trans({}, 'base') }}</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% set hidden = '' %}
                    {% if visits_list|length == 0 %}
                        {% set hidden = 'hidden' %}
                    {% endif %}
                    <div class="float-right">
                        <div id="visit_toolbar_delete" class="float-left {{ hidden }}">
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                    <ul class="dropdown-menu my-dropdown-right float-right">
                                        <li>
                                            <a id="delete_visits" class="font-red" title="">
                                                <i class="fa fa-times" icon_9=""></i>
                                                {{ 'base.global_delete'|trans({}, 'base') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                            <a id="go_today" url="{{ url('visits-list', {'day': "now"|date("Y-m-d")}) }}" class="btn btn-default">{{ 'visits.section_today'|trans({}, 'visits') }}</a>
                        </div>
                    </div>
                </div>
                <div id='visits-week-list' class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% include 'visits/list_table_visits_weekly.html.twig' %}
                </div>
                <div id='loading-gif' class="col-xs-6 col-xs-offset-5 col-md-6 col-md-offset-5 hidden">
                    <img style='width: 50px' src='{{ asset('assets/data/img/default.gif') }}'>
                </div>
                <!--/visits_toolbar-->
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    {% include 'visits/add_visits_modal.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/visits.css', 'visits') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/visits_week.css', 'visits') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/visits.js', 'visits') }}"></script>
    <script type="text/javascript" src="{{ asset('js/visits-week.js', 'visits') }}"></script>
{% endblock %}
