{% block plugin_next_visit %}
    <div class="content-top-1 compose">
{#          <h1>{{ 'dashboard.section_title'|trans({}, 'dashboard') }}{{ 'base.global_title'|trans({}, 'base') }}!</h1>#}
        <center><h3>{{ 'dashboard.next_visit'|trans({}, 'dashboard') }}</h3></center>
        <br/>
        <table id="next-visit" class="my-table table">
            <tbody>
            {% if next_visit |length > 0  %}
                {% set i = 0 %}
                {% for visit in next_visit %}
                    <tr url="{{ url('visits-show', {'visit_id': visit.id}) }}" class="table-row visit">
                        <td class="table-text col-md-3">
                        {{ visit.visitDate|localizeddate('short', 'none', app.request.locale) }} {{ visit.visitDate|date("H:i", "Europe/Madrid") }}
                        </td>
                        <td class="table-text">
                            <div class="float-left">
                                <a>{{ next_visit_patient_names[i] }}</a>
                            </div>
                        </td>
                        {#<td class="table-text">
                            {{ visit.reason }}
                        </td>#}
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <center>{{ 'dashboard.no_next_visit'|trans({}, 'dashboard') }}</center>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="clearfix"> </div>
{% endblock %}
