{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <h2>{{ 'visits.section_visit_single'|trans({}, 'visits') }} <p>{{ visit.visitDate|localizeddate('none', 'none', app.request.locale, "Europe/Paris", 'EEEE')|capitalize }}, {{ visit.visitDate|localizeddate('medium', 'none', app.request.locale) }}<br />{{ visit.visitDate|date("H:i", "Europe/Madrid") }}</p></h2>
                    </div>
                    <!--visit_toolbar-->
                    <div class="float-right">
                        <div class="btn-group">
                            <div class="btn-group dropdown">
                                <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog icon_8"></i>
                                    <i class="fa fa-chevron-down icon_8"></i>
                                    <div class="ripple-wrapper"></div>
                                </a>
                                <ul class="dropdown-menu my-dropdown-right float-right">
                                    <li>
                                        <a href="{{ url('visits-edit', {'visit_id': visit.id})  }}" title="">
                                            <i class="fa fa-pencil-square-o icon_9"></i>
                                            {{ 'base.section_edit_button'|trans({}, 'base') }}
                                        </a>
                                    </li>
                                    {% if visit.patient != 0 %}
                                        <li>
                                            <a href="{{ url('visits-generate-justification', {'visit_id': visit.id}) }}">
                                                <i class="fa fa-file-pdf-o icon_9"></i>
                                                {{ 'visits.download_medical_justification'|trans({}, 'visits') }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a id="delete_visits_btn" class="font-red" title="">
                                            <i class="fa fa-times" icon_9=""></i>
                                            {{ 'base.global_delete'|trans({}, 'base') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/visit_toolbar-->
                </div>
                <div class="col-md-12">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ 'visits.section_input_patient'|trans({}, 'visits') }}</h4>
                        <p>
                            {% if visit.patient != 0 %}
                                <a href="{{ url('patients-show', {'patient_id':visit.patient}) }}" class="list-group-item-text">{{ visit_patient_name }}</a>
                            {% else %}
                                {{ visit_patient_name }}
                            {% endif %}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ 'visits.section_input_visit_date'|trans({}, 'visits') }}</h4>
                        <p class="list-group-item-text">{{ visit.visitDate|date("H:i", "Europe/Madrid") }}</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ 'visits.section_input_fee'|trans({}, 'visits') }}</h4>
                        <p>
                            {% if visit.fee != 0 %}
                                <a href="{{ url('settings-fees-show', {'fee_id':visit.fee}) }}" class="list-group-item-text">{{ visit_fee_name }}</a>
                            {% else %}
                                {{ visit_fee_name }}
                            {% endif %}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ 'visits.section_input_reservation_date'|trans({}, 'visits') }}</h4>
                        <p class="list-group-item-text">
                            {% if visit.reservationDate|time_diff is empty %}
                                just now
                            {% else %}
                                {{ visit.reservationDate|time_diff }}
                            {% endif %}
                        </p>
                    </li>
                </div>
                <div class="clearfix"> </div>
            </div>
            {% if visit.reason is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ 'visits.section_input_visit_reason'|trans({}, 'visits') }}</h4>
                        <p class="break-spaces">{{ visit.reason }}</p>
                    </li>
                </div>
                <div class="clearfix"> </div>
            </div>
            {% endif %}
            {% if visit.comments is not empty %}
            <div class="grid_3 grid_4">
                <div class="col-md-12">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ 'visits.section_input_visit_comments'|trans({}, 'visits') }}</h4>
                        <p class="break-spaces">{{ visit.comments }}</p>
                    </li>
                </div>
                <div class="clearfix"> </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/show_visits.css', 'visits') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/visits.js', 'visits') }}"></script>
    <script>
        visits_selected.push({{ visit.id }});
    </script>
    <script type="text/javascript" src="{{ asset('js/show_visits.js', 'visits') }}"></script>
{% endblock %}
