a:hover {
    cursor: pointer;
}

.navbar-brand{
    background-color: #d9534f!important;
    border-color: #d43f3a!important;
}

.navbar-brand:hover{
    background-color: #c9302c!important;
    border-color: #ac2925!important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.my-padding-user{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.text-color-green{
    color: green;
}

.text-color-red{
    color: red;
}

.my-dropdown-right{
    left: -7em!important;
}

.my-dropdown-notifications-right{
    left: -15em!important;
}

.my-table tr {
    height: 68px!important;
}

.visits-table tr {
/*    height: auto!important;*/
    height: 45px!important;
}

.table-img > img {
    height: 60px;
    width: 60px;
}

tr.table-row {
    border-top: 1px solid #F3F3F4;
}

.blank {
    padding: 0em !important;
}

.copy {
    margin-left: -1em;
    margin-right: -1em;
}

.content-top-1 > h2{
    margin-bottom: 0.5em;
}

.content-top{
    padding: 0em!important;
}

.visits-calendar{
    padding: 0 0 1em 0;
}

.visits-dashboard{
    padding: 0 0 1em 1em;
}

.less-padding{
    padding: 0em;
}

/* SCROLL TOP FEATURE */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 99999999;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}

.my-rounded-button{
    width: 43px!important;
    border-radius: 31px;
}
/* ENS SCROLL TOP FEATURE */

/* Plugin feature */
.my-plugin{
    border: 1px solid #ebeff6;
    border-radius: 10px;
    padding: 0px 0px 0px 0px!important;
    /*margin-top: 30px;*/

    font-weight: 100!important;
    font-size: 0.9em!important;
}

.my-plugin-header{
    background-color: #1ABC9C !important;

    width: 100%;
    padding: 10px 10px 10px 10px;

    color: #fff;
}

.my-plugin-header:hover{
    background-color: #169e83 !important;
    cursor: pointer;
}

.my-plugin-body{
    padding: 5px 5px 5px 5px;

    font-weight: 100!important;
    font-size: 0.9em!important;
}
/* END Plugin feature */

/*MD devices*/
@media (max-width: 992px){
    .visits-dashboard{
        padding: 0 0 1em 0;
    }
}

@media (max-width: 600px){
    .my-dropdown-right{
        left: -6em!important;
    }
}

/*Mobile devices vertical*/
@media(max-width:500px){
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
    .modal-footer {
        padding-bottom: 50px;
    }
}

@media(max-width:404px){
    .navbar-left-right{
        width: 100%;
    }

    .my-dropdown-right{
        left: -7em!important;
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
    .modal-footer {
        padding-bottom: 50px;
    }
}

/* Avoid bootstrap to padding inside blank */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    /*padding-right: 0px!important;*/
    padding-left: 0px!important;
}

/* Make the navbar collapse earlier */
/* @media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
} */
