{% extends 'base_menu.html.twig' %}

{% block content_main %}
    <div class="typo-grid">
        <div class="typo-1">
            <div class="grid_3 grid_4">
                <div class="col-md-6">
                    <h3>{{ 'settings.section_header_patients_settings'|trans({}, 'settings') }}</h3>
                    <div class="mail-toolbar">
                        <nav class="nav-sidebar">
                            <ul class="nav tabs">
                                <li class=""><a href="{{ url('allergies-list') }}"><i class="fa fa-heartbeat nav_icon"></i> {{ 'base.global_section_allergies'|trans({}, 'base') }} {# <span>9</span><div class="clearfix"></div> #}</a></li>
                                <li class=""><a href="{{ url('allergies-list') }}"><i class="fa fa-ambulance nav_icon"></i>{{ 'base.global_section_operations'|trans({}, 'base') }}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>{{ 'settings.section_header_accounting_settings'|trans({}, 'settings') }}</h3>
                    <div class="mail-toolbar">
                        <nav class="nav-sidebar">
                            <ul class="nav tabs">
                                <li class=""><a href="{{ url('settings-fees-list') }}"><i class="glyphicon glyphicon-piggy-bank nav_icon"></i>{{ 'base.global_section_fees'|trans({}, 'base') }}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/settings.css', 'settings') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/settings.js', 'settings') }}"></script>
{% endblock %}
