{% block input_fee %}
    {% if all_fees is defined %}
    <div class="form-group">
        <label for="reservation_fee_select">{{ 'visits.section_input_fee'|trans({}, 'visits') }}</label>
        <select class="form-control selectpicker show-tick" data-live-search="true" id="reservation_fee_select" name="fee">
            <option value="0"
                    data-tokens="">
                {{ 'visits.section_any_fee'|trans({}, 'visits') }}
            </option>
            {% for fee in all_fees %}
                <option value="{{ fee.id }}"
                        data-tokens="{{ fee.name|trim }} {{ fee.price }}"
                        data-subtext="{% if fee.defaultFee == true %}{{ 'fees.default'|trans({}, 'fees') }}{% endif %}"
                        {% if edit is not defined and fee.defaultFee == true %}
                            selected
                        {% elseif edit is defined and fee.id is same as(visit_fee) %}
                            selected
                        {% endif %}>
                    {{ fee.name|trim }} - {{ fee.price }}€
                </option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
{% endblock %}