{% block input_patients %}
    {% if visit_patient is not defined %}
        {% set visit_patient = "" %}
    {% endif %}
    <div class="form-group modal-my-plugin">
        <div class="modal-patient-input my-plugin col-xs-12 col-sm-6 col-md-6">
            <div class='my-plugin-header' style='background-color: #4d4d4d !important'>
                <h7>{{ 'visits.add_existing_patient'|trans({}, 'visits') }}</h7>
            </div>
            <div class='my-plugin-body'>
                <label for="modal_patient">{{ 'visits.section_input_patient'|trans({}, 'visits') }}</label>
                <select class="form-control selectpicker show-tick" data-live-search="true" id="modal_patient" name="patient">
                    <option value="0" data-tokens="">{{ 'visits.section_unknow_patient'|trans({}, 'visits') }}</option>
                    {% set patients_telephones_counter = all_patients_telephones|length %}
                    {% for patient in all_patients %}
                        {% if all_patients_telephones is defined %}
                            {% set patients_telephones = "" %}
                            {% for patient_telephone in all_patients_telephones %}
                                {% if patient_telephone.patient == patient.id %}
                                    {% set patients_telephones = patients_telephones ~ " " ~ patient_telephone.number%}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <option value="{{ patient.id }}"
                                data-tokens="{{ patient.name|trim }} {{ patient.surname|trim }} {{ patients_telephones|trim }}"
                                data-subtext="{{ patients_telephones }}"
                                {% if patient.id is same as(visit_patient) %}
                                    selected
                                {% endif %}>
                            {{ patient.name|trim }} {{ patient.surname|trim }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="my-plugin col-xs-12 col-sm-5 col-md-5">
            <div id="modal_createNewPatient_div" class='my-plugin-header'>
                <h7>{{ 'visits.add_new_patient'|trans({}, 'visits') }}</h7>
                <input id='modal_createNewPatient' type="checkbox" name='save_new_patient' class="createNewPatientCheckbox"/>
            </div>
            <div class='my-plugin-body'>
                <div class="input-group">
                    <label for="modal_patient_name_input">{{ 'patients.section_input_name_and_surnames'|trans({}, 'patients') }}</label>
                    <input type="text" class="form-control" id="modal_patient_name_input" name="patient_all_new_name" value="" disabled>
                </div>
                <div class="input-group">
                    <label for="modal_patient_phone_input">{{ 'patients.section_input_phone'|trans({}, 'patients') }}</label>
                    <input type="text" class="form-control" id="modal_patient_phone_input" name="phone" value="" disabled>
                </div>
            </div>
        </div>
        <div class='clearfix'></div>
    </div>
{% endblock %}

{% block form_visits_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/visits_input_patients.css', 'visits') }}" />
{% endblock %}

{% block form_visits_javascripts %}
    <script type="text/javascript" src="{{ asset('js/visits_input_patients.js', 'visits') }}"></script>
{% endblock %}
