.datepicker div table tbody tr td span {
    color: #333!important;
}

.my-contact-inputs:first-child > .btn-group > .btn,
.my-contact-inputs:first-child > .dropdown-toggle,
.my-contact-inputs:last-child > .btn-group:not(:last-child) > .btn,
.my-contact-inputs:last-child > .btn:not(:last-child):not(.dropdown-toggle){
    width: auto!important;
}

.open{
    z-index: 9999!important;
}

.edit_profile_img{
    width: 150px;
}

.thumbnail {
    position: relative;

    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

#photo {
    width: 98px;
    opacity: 0;
}

.profile-bottom-img > small{
    color: black!important;
}

.dropdown, .dropup {
    display: inline!important;
}
