.patient-visit-reason-text,
.patient-visit-resolution-text {
    padding-bottom: 15px;
}

.patient-visit-icon {
    padding: 15px;
    width: 44px;
    height: 44px;
}

.patient-visit-text-description {
    font-size: 0.9em;
}

.patient-header{
    padding-top: 36px;
}

.patient-visit-header {
    background-color: rgb(217, 83, 79);
    color: white;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.patient-visit {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0px 0px 0px 0px!important;
}
.patient-visit:hover{
    cursor: pointer;
    /*background-color: #d9edf1!important;*/
    background-color: #ececec!important;
}

.profile-bottom-top img {
    width: 150px;
    height: 150px;
}

hr {
    margin-top: 0px!important;
}

.patient-visit-unit-pair {
    padding-left: 0px!important;
}

.patient-visit-unit-odd {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .patient-visit-unit-pair {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .patient-visit-unit-odd {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}
