.table-img > img {
    height: 60px;
    width: 60px;
}

tr.table-row:hover{
    cursor: pointer;
}

.selected {
    /*background-color: #a7d5df;*/
    background-color: #dbdbdb;
}

tr.selected:hover{
    /*background-color: #82c4d1!important;*/
    background-color: #cacaca!important;
}

tr.patient:hover{
    /*background-color: #d9edf1;*/
    background-color: #ececec;
}

.datepicker div table tbody tr td span {
    color: #333!important;
}

#sortPatientsList > label {
    font-weight: 100;
}
